<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Channels</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{styles/channels.css}">
</head>
<body>
<div th:if="${channel.id == null}" class="content">
    <h1>Directory</h1>
    <div th:each="channelItem : ${channelList}" class="directory-channel">
        <a th:href="@{/chatpage/{channelId}(channelId=${channelItem.id})}"
           th:text="${channelItem.name}"></a><br/>
    </div>
</div>

<script src="/javascript/channels.js"></script>
</body>
</html>
