<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{styles/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{styles/channels.css}">
</head>
<body>
    <h3 th:text="${channel.name}"></h3>
    <input type="hidden" id="channelId" th:value="${channel.id}"/>
    <div id="message-display">
        <div th:each="message : ${allMessages}"
             th:if="${message.channel != null and message.channel.id == channel.id}"
             th:attr="data-id=${message.id}">
            <div>
                <p style="font-size: small" th:text="${message.username}"></p>
            </div>
            <p style="font-size: large" th:text="${message.content}"></p>
        </div>
    </div>

    <form th:action="@{/chatpage/{channelId}(channelId=${channel.id})}" method="post">
        <input type="hidden" id="messageUsername" name="username" th:field="*{message.username}"/>
        <input type="text" th:field="*{message.content}" placeholder="Type a message..."/>
        <input type="submit" value="Send"/>
    </form>
    <a href="/channels">Back</a>

<script src="/javascript/channels.js"></script>
</body>
</html>