<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
    <h1>Welcome</h1>
    <form id="welcome-form" action="" method="post">
        <input type="hidden" th:field="${user.id}" />
        <div>
            Name: <input type="text" th:field="${user.name}" id="username">
        </div>
        <p id="error-msg" style="color:red;"></p>
        <input type="submit" value="Enter">
    </form>

    <script src="/javascript/welcome.js"></script>
</body>
</html>