.send-button {
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: #00803a;
    padding: 5px 5px;
    padding-right: 20px;
    border-radius: 10px;
    transition: 0.5s;
    border-color: transparent;
}

.send-button:hover {
    background-color: #3e1c60;
    color: white;
    box-shadow: -5px -3px 10px #020255 ;
}

.back-button {
    margin-top: 40px;
}

#text-input {
    margin-bottom: 30px;
    margin-right: 20px;
    height: 25px;
    border-radius: 4px;
    border-color: transparent;
}